# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Environment files
.env
.env.*

# Python
__pycache__/
*.pyc
.venv/

# Node
node_modules/

# Terraform
.terraform/
*.tfstate
*.tfstate.*

# Misc build outputs
dist/
build/
coverage/
